<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="contenedor-principal">
        <h1 class="titulo-principal">Aplicación Flask</h1>
        <p class="subtitulo">Selecciona una opción:</p>
        
        <div class="botones-index-container">
            <a href="{{ url_for('calculo_compras') }}" class="boton-index boton-morado">
                Cálculo de Compras
            </a>
            <a href="{{ url_for('inicio_sesion') }}" class="boton-index boton-verde">
                Inicio de Sesión
            </a>
        </div>
    </div>
</body>
</html>